html {
    background-color: #d6ffd4;
}

.header {
    margin: 0 auto;
    width: 1136px;
    height: 160px;    
}

.header img {
    display: block;
}

.dashboard {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(214,255,212,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(8%, rgba(255,255,255,1)), color-stop(100%, rgba(214,255,212,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(214,255,212,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(214,255,212,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(214,255,212,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(214,255,212,1) 100%);
}

.tree {
    position: fixed;
    bottom: 0px;
    right: 0px;    
}

.grid-stack {
    margin: 0 25px 0 25px;
    border-style: dashed;
    border-width: 1px;
    border-radius: 25px;
    border-color: #ADFF0D;
    background-color: rgba(255, 255, 255, 0.59);
}

.grid-stack-item-content {
    color: green;
    padding-top: 5px;
    text-align: center;
}