.header {
    position: relative;
    width: auto;
    margin: 0 auto;
    text-align: center;
    font-family: 'Loved by the King', cursive;
}

.responsiveText-wrapper {
    font-weight: bold;
}

body {
    background-image: url("../img/stripes.png");
    background-repeat: repeat;
    font-family: 'Loved by the King', cursive;
    font-weight: bold;
}

.tree {
    position: fixed;
    bottom: 0px;
    right: -25px;;
}

.grid-stack {
    margin: 0 25px 0 25px;
    border-style: dashed;
    border-width: 1px;
    border-radius: 25px;
    border-color: #ADFF0D;
    background-color: rgba(255, 255, 255, 0.59);
}

.grid-stack-item-content {
    color: green;
    text-align: center;
    font-size: 35px;
}

.grid-stack-item-content .fa {
    font-size: 64px;
    display: block;
    margin: 20px 0 10px;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    overflow: visible;
}